/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
* {
  font-family: 'Exo', sans-serif;
}
body {
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: #2868ff;
}
#container {
  margin: 50px auto 0;
  width: 80%;
  background-color: rgb(255, 253, 245);
  padding: 20px
}
#main-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}
#search-input {
  border-radius: 5px;
  margin-left: 15px;
  border: 1px solid rgb(197, 197, 197);
}
#separator {
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgba(109, 109, 109, 0.171);
}

.flight {
  font-size: 18px;
  margin: 15px 0 0 15px;
}